build
*~
*.txt.user
*CMakeCache.txt*
*.bin
*.mexmaci64*
*.autosave
*.cmake
*.user.*
.#*
#*
*#
config.h
CmakeFiles
flycheck*
/SimBA/#CMakeLists.txt#
/SimBA/.#CMakeLists.txt
/Unnamed_coqscript_1.crashcoqide
